{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dane do faktury</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="invoice_number">Numer faktury</label>
                        {{ form_widget(form.number, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.number) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Sprzedawca</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nazwa</label>
                        {{ form_widget(form.seller.name, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.seller.name) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">NIP</label>
                        {{ form_widget(form.seller.nip, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.seller.nip) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ulica</label>
                        {{ form_widget(form.seller.street, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.seller.street) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Miejscowość</label>
                        {{ form_widget(form.seller.city, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.seller.city) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kod pocztowy</label>
                        {{ form_widget(form.seller.zipcode, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.seller.zipcode) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nabwyca</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nazwa</label>
                        {{ form_widget(form.buyer.name, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.buyer.name) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">NIP</label>
                        {{ form_widget(form.buyer.nip, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.buyer.nip) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ulica</label>
                        {{ form_widget(form.buyer.street, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.buyer.street) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Miejscowość</label>
                        {{ form_widget(form.buyer.city, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.buyer.city) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kod pocztowy</label>
                        {{ form_widget(form.buyer.zipcode, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.buyer.zipcode) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Towar lub usługa</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nazwa</label>
                        {{ form_widget(form.item.name, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.item.name) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Jednostka miary</label>
                        {{ form_widget(form.item.measure, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.item.measure) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ilość</label>
                        {{ form_widget(form.item.quantity, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.item.quantity) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Wystaw fakturę</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
