{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista faktur</h6>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Numer</th>
                                    <th>Nabywca</th>
                                    <th>Data</th>
                                    <th>Opcje</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Numer</th>
                                    <th>Nabywca</th>
                                    <th>Data</th>
                                    <th>Opcje</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for invoice in invoices %}
                                    <tr>
                                        <td>{{ invoice.number }}</td>
                                        <td>{{ invoice.seller.name }}</td>
                                        <td>{{ invoice.createdAt|date("m/d/Y H:i") }}</td>
                                        <td>
                                            <a href="{{ path('delete', {'id' : invoice.id}) }}">[usuń]</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
